<%= form_with(model: [@book, @question], local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group row">
      <div class="col-sm-2">
        <%= f.label :content, "問題" %>
      </div>

      <div class="col-sm-10">
        <%= f.text_area :content, class:'form-control' %>
      </div>
  </div>

  <div class="form-group row">
    <%= f.fields_for :answers do |field| %>
      <div class="col-sm-2">
        <%= field.label :content, "選択肢" %>
      </div>

      <div class="col-sm-10">
        <%= field.text_area :content, class:'form-control' %>
        <%= field.check_box :correct %>
        <%= field.label :correct, "正解" %>
      </div>
    <% end %>
  </div>

  <div class="text-center form-group">
    <%= f.submit class: 'btn btn-success'%>
  </div>
<% end %>