<div id="login_form">
  <div class="container container-small">
    <h1 class="text-center"><%= t('user.edit') %></h1>
    <div class="card">
      <div class="justify-content-center">
        <div class="form-group">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :icon %>
              <%= f.file_field :icon %>
            </div>

            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name,
                                autofocus: true,
                                autocomplete: "name", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email,
                                   autofocus: true,
                                   autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %> <small>(<%= t('user.new_password') %>)</small><br />
              <%= f.password_field :password,
                                    autocomplete: "new-password", class: "form-control" %>
              <% if @minimum_password_length %>
                <em style="color:red;">＊<%= @minimum_password_length %> <%= t('user.password_limit') %></em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation,
                                   autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <small>(<%= t('user.current_password') %>)</small>
              <%= f.password_field :current_password,
                                   autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="text-center form-group">
              <%= f.submit "#{t('buttons.update')}", class: 'btn btn-success' %>
            </div>
          <% end %>
          <div class=" text-center form-group">
            <%= link_to "#{t('buttons.back')}", :back, class: "btn btn-default"  %>
          </div>

          <hr class="info_hr"></hr>

          <div class="text-center">
            <%= button_to "#{t('user.cancel_account')}", registration_path(resource_name),
                                                         data: { confirm: "本当にアカウントを削除してもよろしいですか？" },
                                                         method: :delete, id: "cancel_button",
                                                         class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>