<div class="container container-small">
  <div class="row">
    <div class="col-sm-3">
      <div class="container">
        <div class="card text-center">
          <div class="card-body">
              <%= render 'user_info' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div id="card_container" class="card">
        <div class="card-header text-center">
          <strong><%= t('book.index') %></strong>
        </div>
        <div class="card">
          <% @books.each do |book| %>
            <div id="cards" class="card text-center">
              <div class="card-img-top">
                <%= link_to book_path(book) do %>
                  <%= image_tag book.image.url(:thumb), class: "book_img" %>
                <% end %>
              </div>

              <div class="card-body">
                <div id="my_page_book_title">
                  <%= book.title %>
                </div>

                <hr id="book_info_hr">

                <div id="my_page_book_description">
                  <%= book.description %>
                </div>

                <div id="start_button">
                  <%= form_with(model: @lesson, url: lessons_path, local: true) do |f| %>
                    <%= f.hidden_field :book_id, value: book.id %>
                    <%= f.submit "#{t('question.start')}", class: "btn btn-info rounded-pill" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <%= paginate @books %>
      </div>
    </div>
  </div>
</div>