<div class="container container-small">
  <h2><%= @user.email %></h2>
  <% if current_user?(@user) %>
    <div>
      <%= link_to '編集', edit_user_registration_path %>
    </div>
  <% end %>
  <% if @books %>
    <% @books.each do |book| %>
      <p><%= book.title %></p>
      <p><%= book.description %></p>
      <p><%= image_tag book.image.url(:thumb) %></p>
    <% end %>
  <% end %>
</div>