<div class="container container-small">
  <div class="col-sm-2">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <%= render 'user_info' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-10 row" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('book.index') %>
      </div>

      <div id="user_books" class="panel-body col-center row">
        <% @books.each do |book| %>
          <div id="book_box" class="col-sm-3 row">
            <div id="box_inner" class="text-center col-center row">
                <%= link_to book_path(book) do %>
                  <%= image_tag book.image.url(:thumb),  class: "book_img col-center" %>
                <% end %>
                <div id="my_page_book_title" class="col-center">
                  <%= book.title %>
                </div>

                <hr id="book_info_hr" class="col-center">

                <div id="my_page_book_description" class="col-center">
                  <%= book.description %>
                </div>
                <div id="start_button" class="col-center">
                  <%= link_to "#{t('question.start')}", "#", class: "btn-xs btn-success" %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
      <div id="book_pagination">
        <%= paginate @books %>
      </div>
    </div>
  </div>
</div>