<div class="container container-small">
  <div class="row">
    <div class="col-sm-3">
      <div class="container">
        <div class="card text-center">
          <div class="card-body">
              <%= render 'user_info' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div id="card_container" class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-4 offset-sm-5">
              <h3><%= t('book.index') %></h3>
            </div>
            <div class="col-sm-3 text-right">
              <%= link_to "本を追加する", new_book_path, class: "btn btn-xs btn-success" %>
            </div>
          </div>
        </div>
        <div class="card">
          <% @books.each do |book| %>
            <div id="cards" class="card text-center">
              <div class="card-img-top">
                <%= link_to book_path(book) do %>
                <%= image_tag book.image.url(:thumb), class: "book_img" %>
                <% end %>
              </div>

              <div class="card-body">
                <div id="my_page_book_title">
                  <%= book.title %>
                </div>

                <hr id="book_info_hr">

                <div id="my_page_book_description">
                  <%= book.description %>
                </div>

                <% if book.questions.exists? %>
                  <% if answered?(book.id) %>
                    <div>
                      <%= link_to "前回の成績", lesson_lesson_questions_path(last_lesson(book.id)),
                                              class: "btn btn-success rounded-pill" %>
                      <%= link_to "前回の成績を削除", lesson_path(last_lesson(book.id)),
                                             method: :delete,
                                             data: { confirm: "本当に前回の結果を削除しますか？" },
                                             class: "btn btn-danger rounded-pill" %>
                    </div>
                  <% else %>
                    <div>
                      <%= form_with(model: @lesson, url: lessons_path, local: true) do |f| %>
                        <%= f.hidden_field :book_id, value: book.id %>
                        <%= f.submit "#{t('question.start')}", class: "btn btn-info rounded-pill" %>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div>
                    <%= link_to "問題を作成する", new_book_question_path(book),
                                               class: "btn btn-warning rounded-pill" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <%= paginate @books %>
      </div>
    </div>
  </div>
</div>