<div class="col-sm-12 text-center">
  <% if @book.image.url %>
    <%= image_tag @book.image.url(:thumb),  class: "book_img" %>
  <% else %>
    <%= image_tag 'default_book_image.png', class: "book_img" %>
  <% end %>

  <h3>
    <%= @book.title %>
  </h3>

  <%= link_to "#{t('buttons.edit')}", edit_book_path(@book), class: "small" %>

  <hr class="info_hr">

  <h4 class="text-left"><%= @book.description %></h4>
</div>