<%= form_with(model: @book, local: true) do |f| %>

<%= render 'shared/error_messages', object: f.object %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :image %>
    </div>

    <div class="col-sm-8">
      <img id="book_img_prev" src="#" class='hidden' />
      <% if action_name == 'edit' %>
        <% if @book.image.present? %>
          <%= image_tag @book.image.url(:thumb), class: "present_book_img book_img" %>
        <% else %>
          <%= image_tag "default_book_image.png", class: "present_book_img book_img" %>
        <% end %>
      <% end %>
      <%= f.file_field :image, id: "post_img" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :title %>
    </div>
    
    <div class="col-sm-8">
      <%= f.text_field :title, class:'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :description %>
    </div>
    
    <div class="col-sm-8">
      <%= f.text_area :description, class:'form-control'%>
    </div>

    <div id="book_buttons" class="col-sm-2 row">
      <%= f.submit "登録", class: 'btn btn-success col-sm-6'%>
      <% if action_name == 'edit' %>
        <%= link_to "削除", book_path(f.object.id), method: :delete,
                                            data: { confirm: "本当に#{f.object.title}を削除しますか？" },
                                            class: "btn btn-danger col-sm-5 col-sm-offset-1" %>
      <% end %>
    </div>
  </div>
<% end %>