<div class="container container-small">
  <div class="col-sm-2">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <%= render 'book_info' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-10 row" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <span class="heading">問題一覧</span>
          </div>
          <div class="col-sm-6 text-right">
            <%= link_to "問題を追加する", new_book_question_path(@book), class: "btn btn-xs btn-success" %>
            <%= link_to "戻る", current_user, class: "btn"%>
          </div>
        </div>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <th>問題</th>
            <th>解答</th>
          </tr>

          <% @book.questions.each do |question| %>
            <tr>
              <td><%= question.content %></td>
              <td><%= question.correct_answer %></td>
              <td>
                <%= link_to "編集", edit_question_path(question), class: "btn btn-xs btn-warning" %>
                <%= link_to "削除", "#", class: "btn btn-xs btn-danger"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>