<header>
  <div class="container-fluid fixed-top">
    <ul class="row">
      <li class="col">
        <%= link_to "Ex Brain" , root_path, class: 'navbar-brand' %>
      </li>
      <% if user_signed_in? %>
        <li class="col">
          <%= link_to "#{t('user.mypage')}", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="col">
          <%= link_to "#{t('session.logout')}", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="col">
          <form>
            <%= link_to "#{t('registration.signup')}", new_user_registration_path, class: "btn btn-outline-success" %>
            <%= link_to "#{t('session.login')}", user_session_path, class: "btn ml-2 btn-outline-secondary" %>
          </form>
        </li>
      <% end %>
    </ul>
  </div>
</header>